@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Kia Signature Fix';
    src: url('/font/OTF/KiaSignatureFixOTFLight.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Kia Signature Fix';
    src: url('/font/OTF/KiaSignatureFixOTFRegular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Kia Signature Fix';
    src: url('/font/OTF/KiaSignatureFixOTFBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
}

:root {
  --max-width: 1660px;
  --line-height-sm: 1.4;
  --line-height-md: 1.6;
  --line-height-lg: 1.8;
  --cubic-bezier-primary: cubic-bezier(1, 0, 0.2, 1);
  --mint-900: #70d7bf;
  --mint-700: #8ddfcc;
  --midnight-900: #05141f;
  --midnight-100: #cdd0d2;
  --red: #ff0900;
  --blue: #4296e4;
  --gray-700: #37434c;
  --gray-500: #697278;
  --gray-400: #82898f;
  --gray-300: #b4b9bc;
  --gray-200: #cdd0d2;
  --gray-100: #e6e8e9;
  --gray-50: #f6f6f9;
  --gray-10: #f8f8f8;
  --font-kia: 'Kia Signature Fix', Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-family: var(--font-kia);
}

/* FAQ 리스트 스타일 */
.faq-list {
  @apply space-y-4;
}

.faq-list li {
  @apply bg-white rounded-2xl overflow-hidden;
}

.faq-list h4.a button {
  @apply w-full px-8 py-6 text-left flex items-center gap-2;
}

.faq-list h4.a button em {
  @apply text-mint-900 font-medium text-[15px] not-italic;
}

.faq-list h4.a button strong {
  @apply text-[20px] font-bold text-midnight-900 ml-auto;
}

.faq-list .q {
  @apply border-t border-gray-100 p-8;
}

.faq-list .q .inner {
  @apply space-y-2;
}

.faq-list .q .inner p {
  @apply text-[13pt] text-[#6A7A87] break-keep;
}
